* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

::-moz-selection {
  background-color: #3D3D3D;
  color: #46A358;
}

::selection {
  background-color: #3D3D3D;
  color: #46A358;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrap header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  color: #3D3D3D;
}
.wrap header .header_logo {
  width: 150px;
}
.wrap header .header_nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.wrap header .header_nav .header_nav_element {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.wrap header .header_nav .header_nav_element_active {
  font-weight: 600;
}
.wrap header .header_otherElements {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap header .header_otherElements .header_otherElementsIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.wrap header .header_otherElements #cartCounter {
  cursor: pointer;
}
.wrap header .header_otherElements .cartContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.wrap header .header_otherElements .cartContainer #cartCounter {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #46A358;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: #fff 2px solid;
  font-size: 10px;
  font-weight: 500;
  left: 13px;
  top: -3px;
}
.wrap header .header_otherElements .cartContainer button {
  display: none;
  margin-left: 20px;
}
.wrap header .header_otherElements .header_otherElements_Btn {
  width: 100px;
  height: 35px;
  background-color: #46A358;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.wrap header .header_otherElements .header_otherElements_Btn .header_otherElements_Btn_Icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.wrap main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main .banner {
  width: 1320px;
  height: 450px;
  background-color: #F5F5F5;
  margin-top: 30px;
  display: flex;
}
.wrap main .banner .bannerPart {
  width: 50%;
}
.wrap main .banner .banner_textPart {
  color: #3D3D3D;
  padding: 70px 0 0 43px;
}
.wrap main .banner .banner_textPart .banner_textPart_subtitle {
  font-size: 14px;
  font-weight: 500;
}
.wrap main .banner .banner_textPart .banner_textPart_title {
  width: 100%;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 15px;
}
.wrap main .banner .banner_textPart .banner_textPart_title .banner_textPart_title_Green {
  color: #46A358;
}
.wrap main .banner .banner_textPart .banner_textPart_text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.wrap main .banner .banner_textPart .banner_textPart_subtitle {
  font-size: 14px;
  font-weight: 400;
}
.wrap main .banner .banner_textPart .banner_textPart_btn {
  width: 140px;
  height: 40px;
  background-color: #46A358;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.5s ease;
}
.wrap main .banner .banner_textPart .banner_textPart_btn:hover {
  background-color: #F5F5F5;
  color: #46A358;
  border: #46A358 2px solid;
}
.wrap main .banner .banner_imgPart {
  height: 100%;
  position: relative;
}
.wrap main .banner .banner_imgPart .banner_img {
  width: 518px;
  position: absolute;
  top: -50px;
  left: 120px;
}
.wrap .mainPartContainer {
  padding: 0 100px;
  margin-top: 50px;
  width: 100%;
  display: flex;
}
.wrap .mainPartContainer .categoriesAndImg {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon {
  width: 20px;
  background-color: #F5F5F5;
  width: 310px;
  height: 800px;
  padding: 20px;
  color: #3D3D3D;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon .categoriesCon_title {
  font-size: 16px;
  font-weight: 700;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon .categoriesCon_category {
  width: 255px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  margin-top: 25px;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon #activePlantCategoty {
  color: #46A358;
  font-weight: 700;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon #priceRange {
  margin: 50px 0 15px 0;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon input[type=range] {
  -webkit-appearance: none;
  -moz-apperance: none;
  -moz-appearance: none;
       appearance: none;
  width: 200px;
  height: 10px;
  background: rgba(70, 163, 89, 0.2);
  border-radius: 5px;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: rgba(70, 163, 89, 0.2);
  border-radius: 5px;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #46A358;
  border: 1px solid #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon .price {
  margin: 15px 0;
  display: flex;
  font-size: 15px;
  font-weight: 500;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon .price .price_numbers {
  color: #46A358;
  font-weight: 700;
  margin-left: 6px;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon .priceBtn {
  width: 90px;
  height: 35px;
  background-color: #46A358;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  margin-top: 19px;
  cursor: pointer;
  transition: 0.5s ease;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon .priceBtn:hover {
  background-color: #F5F5F5;
  color: #46A358;
  border: #46A358 2px solid;
}
.wrap .mainPartContainer .categoriesAndImg .categoriesCon #size {
  margin-top: 40px;
}
.wrap .mainPartContainer .categoriesAndImg .banerImg {
  height: 470px;
}
.wrap .mainPartContainer .goodsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-around;
}
.wrap .mainPartContainer .goodsContainer .goodsCard {
  width: 254px;
  min-height: 319px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  color: #3D3D3D;
}
.wrap .mainPartContainer .goodsContainer .goodsCard h2 {
  font-size: 16px;
  font-weight: 500;
}
.wrap .mainPartContainer .goodsContainer .goodsCard img {
  width: 250px;
}
.wrap .mainPartContainer .goodsContainer .goodsCard h5 {
  font-size: 18px;
  font-weight: 700;
  color: #46A358;
  margin-top: 5px;
}
.wrap .mainPartContainer .goodsContainer .goodsCard .goodsCardBtn {
  background-color: #46A358;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 80px;
  padding: 10px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}
.wrap .mainPartContainer .goodsContainer .goodsCard .goodsCardBtn .goodsCardBtn_icon {
  width: 22px;
  margin-right: 6px;
  transition: 0.2s ease;
}

.popupContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(61, 61, 61, 0.3568627451);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}
.popupContainer .popup {
  display: flex;
  width: 700px;
  min-height: 500px;
  box-shadow: 0 0 10px #ccc;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  color: #3D3D3D;
}
.popupContainer .popup .popup_confirmSecrion {
  width: 100%;
  height: 100%;
}
.popupContainer .popup .popup_confirmSecrion .popup_confirmSecrion_title {
  font-size: 32px;
  font-weight: 600;
}
.popupContainer .popup .popup_confirmSecrion .popup_confirmSecrion_selectedGoods {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
}
.popupContainer .popup .popup_confirmSecrion .popup_confirmSecrion_selectedGoods .popup_confirmSecrion_selectedGoods_Item {
  padding: 10px;
  width: 40%;
  height: 70px;
  border: 2px #3D3D3D solid;
  border-radius: 6px;
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;
}
.popupContainer .popup .popup_confirmSecrion .popup_confirmSecrion_selectedGoods .popup_confirmSecrion_selectedGoods_Item img {
  margin-right: 15px;
}
.popupContainer .popup .popup_confirmSecrion .popup_confirmSecrion_selectedGoods .popup_confirmSecrion_selectedGoods_Item .popup_confirmSecrion_selectedGoods_Item_Name {
  font-size: 16px;
  font-weight: 500;
}
.popupContainer .popup .popup_confirmSecrion .popup_confirmSecrion_selectedGoods .popup_confirmSecrion_selectedGoods_Item .popup_confirmSecrion_selectedGoods_Item_Price {
  font-size: 18px;
  font-weight: 700;
  color: #46A358;
  margin-top: 5px;
}
.popupContainer .popup .popup_confirmSecrion #sendData {
  width: 150px;
  height: 50px;
  background-color: #46A358;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-top: 20px;
}
.popupContainer .popup .popup_confirmSecrion #sendData:hover {
  background-color: #fff;
  color: #46A358;
  border: #46A358 2px solid;
}
.popupContainer .popup .popup_infoSection {
  width: 100%;
  height: 500px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupContainer .popup .popup_infoSection input {
  margin-bottom: 15px;
  width: 70%;
  height: 50px;
  padding: 10px;
  border-radius: 16px;
}
.popupContainer .popup .popup_infoSection #send {
  width: 150px;
  height: 50px;
  background-color: #46A358;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-top: 20px;
}
.popupContainer .popup .popup_infoSection #send:hover {
  background-color: #fff;
  color: #46A358;
  border: #46A358 2px solid;
}

.notificationPopup {
  width: 300px;
  height: 100px;
  background-color: #46A358;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}/*# sourceMappingURL=style.css.map */