* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrap header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  color: #3D3D3D;
}
.wrap header .header_logo {
  width: 150px;
}
.wrap header .header_nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.wrap header .header_nav .header_nav_element {
  font-size: 16px;
  font-weight: 400;
}
.wrap header .header_nav .header_nav_element_active {
  font-weight: 600;
}
.wrap header .header_otherElements {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap header .header_otherElements .header_otherElementsIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.wrap header .header_otherElements #cartCounter {
  cursor: pointer;
}
.wrap header .header_otherElements .cartContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.wrap header .header_otherElements .cartContainer #cartCounter {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #46A358;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: #fff 2px solid;
  font-size: 10px;
  font-weight: 500;
  left: 13px;
  top: -3px;
}
.wrap header .header_otherElements .cartContainer button {
  display: none;
  margin-left: 20px;
}
.wrap header .header_otherElements .header_otherElements_Btn {
  width: 100px;
  height: 35px;
  background-color: #46A358;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.wrap header .header_otherElements .header_otherElements_Btn .header_otherElements_Btn_Icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.wrap main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main .banner {
  width: 1320px;
  height: 450px;
  background-color: #F5F5F5;
  margin-top: 30px;
}
.wrap .goodsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 100px;
  width: 100%;
  justify-content: space-around;
}
.wrap .goodsCard {
  width: 300px;
  height: 150px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
}

.popup {
  display: none;
  position: fixed;
  width: 300px;
  min-height: 200px;
  box-shadow: 0 0 10px #ccc;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  top: 10vh;
  margin-top: 20px;
  right: 20px;
  background-color: #fff;
  justify-content: center;
}
.popup input {
  margin-bottom: 10px;
}

.notificationPopup {
  width: 300px;
  height: 100px;
  background-color: rgb(84, 183, 84);
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */